@import "tailwindcss";

@font-face {
  font-family: "PhoebeFont";
  src: url("/fonts/Pbstars-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "PhoebeFont", sans-serif;
}
